<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemei.system.mapper.LmCarApplicationMapper">

    <resultMap type="LmCarApplication" id="LmCarApplicationResult">
        <result property="applicationId"    column="application_id"    />
        <result property="applicationNo"    column="application_no"    />
        <result property="driverName"    column="driver_name"    />
        <result property="carNumber"    column="car_number"    />
        <result property="driverId"    column="driver_id"    />
        <result property="phone"    column="phone"    />
        <result property="idcard"    column="IDCard"    />
        <result property="applicationDate"    column="application_date"    />
        <result property="outDate"    column="out_date"    />
        <result property="enterDate"    column="enter_date"    />
        <result property="createdDate"    column="created_date"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdName"    column="created_name"    />
        <result property="isdeleted"    column="isDeleted"    />
        <result property="enterStatus"    column="enter_status"    />
        <result property="status"    column="status"    />
        <result property="carrierId"    column="carrier_id"    />
        <result property="carrierName"    column="carrier_name"    />
        <result property="beforeWeight"    column="before_weight"    />
        <result property="remark"    column="remark"    />
        <result property="reason"    column="reason"    />
        <result property="reasonKey"    column="reason_key"    />
        <result property="scrap"    column="scrap"    />
        <result property="scrapKey"    column="scrap_key"    />
        <result property="postType"    column="post_type"    />
        <result property="checkerId"    column="checker_id"    />
        <result property="checkerName"    column="checker_name"    />
        <result property="orderId"    column="order_id"    />
        <result property="businessType"    column="businessType"    />
        <!--新增字段 -->
        <result property="businessDescription"    column="businessDescription"    />
        <result property="supplyCode"    column="supplyCode"    />
        <result property="supplyName"    column="supplyName"    />
        <result property="custCode"    column="custCode"    />
        <result property="custName"    column="custName"    />
        <result property="documentCode"    column="documentCode"    />
        <result property="dataAreaId"    column="dataAreaId"    />
        <result property="factoryCode"    column="factoryCode"    />
        <result property="taskId"    column="taskID"    />
        <result property="appointmentWeight"    column="appointmentWeight"    />
        <result property="loseWeight"    column="loseWeight"    />
        <result property="shippedWithPalletWeight"    column="shippedWithPalletWeight"    />
        <result property="floatReason"    column="floatReason"    />
        <result property="cardId"    column="cardID"    />
        <result property="cardType"    column="cardType"    />
        <result property="createCardTime"    column="createCardTime"    />
        <result property="returnCardTime"    column="returnCardTime"    />
        <result property="appointmentStatus"    column="appointmentStatus"    />
        <result property="firstWeight"    column="firstWeight"    />
        <result property="firstWeightTime"    column="firstWeightTime"    />
        <result property="loadoMeterID1"    column="loadoMeterID1"    />
        <result property="userID1"    column="userID1"    />
        <result property="userName1"    column="userName1"    />
        <result property="secondWeight"    column="secondWeight"    />
        <result property="truckWeight"    column="truckWeight"    />
        <result property="netWeight"    column="netWeight"    />
        <result property="packWeight"    column="packWeight"    />
        <result property="goodsWeight"    column="goodsWeight"    />
        <result property="toleranceAdd"    column="toleranceAdd"    />
        <result property="toleranceDec"    column="toleranceDec"    />
        <result property="secondWeightTime"    column="secondWeightTime"    />
        <result property="loadoMeterID2"    column="loadoMeterID2"    />
        <result property="userID2"    column="userID2"    />
        <result property="userName2"    column="userName2"    />
        <result property="truckNo2"    column="truckNo2"    />
        <result property="atmsId"    column="atmsId"    />
        <result property="isUpdate"    column="isUpdate"    />
        <result property="userId"    column="userId"    />
        <result property="userName"    column="userName"    />
        <result property="loadoMeterID"    column="loadoMeterID"    />
        <result property="truckType"    column="truckType"    />
        <result property="editFlag"    column="editFlag"    />
        <result property="originalWeight"    column="originalWeight"    />
        <result property="editWeight"    column="editWeight"    />
        <result property="editPerson"    column="editPerson"    />
        <result property="editTime"    column="editTime"    />
        <result property="editReason"    column="editReason"    />
        <result property="mark"    column="mark"    />
    </resultMap>

    <resultMap type="CarDeliveryItemReal" id="SaleResult">
        <result property="lmId"    column="lm_Id"    />
        <result property="lmOrderid"    column="lm_order_id"    />
        <result property="lmActualdeliverydate"    column="lm_actualdeliverydate"    />
        <result property="lmCarNumber"    column="lm_car_number"    />
        <result property="lmDnnum"    column="lm_dnnum"    />
        <result property="lmDnLine"    column="lm_dnline"    />
        <result property="lmPackagingid"    column="lm_packagingid"    />
        <result property="lmGrossweight"    column="lm_grossweight"    />
    </resultMap>

    <sql id="selectLmCarApplicationVo">
        select application_id, driver_name, car_number, driver_id, phone, IDCard,
               date_format(application_date,'%Y-%m-%d %H:%m:%s') application_date, out_date, enter_date, created_date, created_by,
               created_name, isDeleted, enter_status, status, carrier_id, carrier_name,
               ifnull(before_weight,0) before_weight, remark, reason, reason_key, scrap, scrap_key, post_type,
               checker_id, checker_name,application_no,order_id,businessType,businessDescription,supplyCode,supplyName,
               custCode,custName,documentCode,dataAreaId,factoryCode,taskID,appointmentWeight,loseWeight,shippedWithPalletWeight,floatReason,cardID,
               cardType,createCardTime,returnCardTime,appointmentStatus,firstWeight,firstWeightTime,
               loadoMeterID1,userID1,userName1,secondWeight,truckWeight,netWeight,packWeight,goodsWeight,
               enableControl,round(toleranceAdd * 100, 2) AS toleranceAdd,round(toleranceDec * 100, 2) AS toleranceDec,upFloatingWeight,downFloatingWeight,secondWeightTime,loadoMeterID2,userID2,userName2,truckNo2,atmsId,isUpdate,userId,userName,loadoMeterID,truckType,serialNumber,factoryType,wMSPickingRouteIDs,wMSPickingRouteIDs2,mark
        from lm_car_application
    </sql>

    <select id="selectLmCarApplicationList" parameterType="com.lemei.system.domain.param.CarApplicationQueryParam" resultMap="LmCarApplicationResult">
        <include refid="selectLmCarApplicationVo"/>
        <where>
            isDeleted = 0
<!--            <if test="applicationDate != null ">-->
<!--                and application_date >= date_format(#{applicationDate},'%Y-%m-%d 00:00:00')-->
<!--                and date_format(#{applicationDate},'%Y-%m-%d 23:59:59') >= application_date-->
<!--            </if>-->
            <!-- 修改 applicationDate 为 startTime 和 endTime 的范围查询 -->
            <if test="startTime != null and endTime != null">
                and application_date >= date_format(#{startTime},'%Y-%m-%d 00:00:00')
                and date_format(#{endTime},'%Y-%m-%d 23:59:59') >= application_date
            </if>
            <!-- 如果只传了 startTime，查询从 startTime 开始之后的数据 -->
            <if test="startTime != null and endTime == null">
                and application_date >= date_format(#{startTime},'%Y-%m-%d 00:00:00')
            </if>
            <!-- 如果只传了 endTime，查询到 endTime 为止的数据 -->
            <if test="endTime != null and startTime == null">
                and date_format(#{endTime},'%Y-%m-%d 23:59:59') >= application_date
            </if>
            <!-- 如果只传了 applicationDate，查询 applicationDate 的数据 -->
            <if test="startTime == null and endTime == null and applicationDate != null">
                and application_date >= date_format(#{applicationDate},'%Y-%m-%d 00:00:00')
                and date_format(#{applicationDate},'%Y-%m-%d 23:59:59') >= application_date
            </if>

             <if test="createdDate != null ">
                and created_date >= date_format(#{createdDate},'%Y-%m-%d 00:00:00')
                and date_format(#{createdDate},'%Y-%m-%d 23:59:59') >= created_date
            </if>
            <if test="enterStatus != null "> and enter_status = #{enterStatus}</if>
            <if test="businessType != null "> and businessType = #{businessType}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="queryCondition != null  and queryCondition != ''">
             and ( carrier_name like concat('%', #{queryCondition}, '%')
             or checker_name like concat('%', #{queryCondition}, '%')
             or application_no like concat('%', #{queryCondition}, '%')
             or IDCard like concat('%', #{queryCondition}, '%')
             or car_number like concat('%', #{queryCondition}, '%')
             or driver_name like concat('%', #{queryCondition}, '%')
             or order_id like concat('%', #{queryCondition}, '%')
             )
             </if>
             <if test="checkerId!=null">
                 and (checker_id = #{checkerId} or created_by = #{checkerId})
             </if>
            <if test="carrierId!=null">
                 and carrier_id = #{carrierId}
             </if>
             order by created_date desc
        </where>
    </select>

    <select id="selectLmCarApplicationByApplicationId" parameterType="String" resultMap="LmCarApplicationResult">
        <include refid="selectLmCarApplicationVo"/>
        where application_id = #{applicationId}
    </select>

    <insert id="insertLmCarApplication" parameterType="LmCarApplication">
        insert into lm_car_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applicationId != null">application_id,</if>
            <if test="driverName != null">driver_name,</if>
            <if test="applicationNo != null">application_no,</if>
            <if test="carNumber != null">car_number,</if>
            <if test="driverId != null">driver_id,</if>
            <if test="phone != null">phone,</if>
            <if test="idcard != null">IDCard,</if>
            <if test="applicationDate != null">application_date,</if>
            <if test="outDate != null">out_date,</if>
            <if test="enterDate != null">enter_date,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdName != null">created_name,</if>
            <if test="isdeleted != null">isDeleted,</if>
            <if test="enterStatus != null">enter_status,</if>
            <if test="status != null">status,</if>
            <if test="carrierId != null">carrier_id,</if>
            <if test="carrierName != null">carrier_name,</if>
            <if test="beforeWeight != null">before_weight,</if>
            <if test="remark != null">remark,</if>
            <if test="reason != null">reason,</if>
            <if test="reasonKey != null">reason_key,</if>
            <if test="scrap != null">scrap,</if>
            <if test="scrapKey != null">scrap_key,</if>
            <if test="postType != null">post_type,</if>
            <if test="checkerId != null">checker_id,</if>
            <if test="checkerName != null">checker_name,</if>
            <if test="serialNumber != null">serialNumber,</if>
            <if test="factoryType != null">factoryType,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applicationId != null">#{applicationId},</if>
            <if test="driverName != null">#{driverName},</if>
            <if test="applicationNo != null">#{applicationNo},</if>
            <if test="carNumber != null">#{carNumber},</if>
            <if test="driverId != null">#{driverId},</if>
            <if test="phone != null">#{phone},</if>
            <if test="idcard != null">#{idcard},</if>
            <if test="applicationDate != null">#{applicationDate},</if>
            <if test="outDate != null">#{outDate},</if>
            <if test="enterDate != null">#{enterDate},</if>
            <if test="createdDate != null">#{createdDate},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdName != null">#{createdName},</if>
            <if test="isdeleted != null">#{isdeleted},</if>
            <if test="enterStatus != null">#{enterStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="carrierId != null">#{carrierId},</if>
            <if test="carrierName != null">#{carrierName},</if>
            <if test="beforeWeight != null">#{beforeWeight},</if>
            <if test="remark != null">#{remark},</if>
            <if test="reason != null">#{reason},</if>
            <if test="reasonKey != null">#{reasonKey},</if>
            <if test="scrap != null">#{scrap},</if>
            <if test="scrapKey != null">#{scrapKey},</if>
            <if test="postType != null">#{postType},</if>
            <if test="checkerId != null">#{checkerId},</if>
            <if test="checkerName != null">#{checkerName},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
            <if test="factoryType != null">#{factoryType},</if>
        </trim>
    </insert>

    <update id="updateLmCarApplication" parameterType="LmCarApplication">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="driverName != null">driver_name = #{driverName},</if>
            <if test="applicationNo != null">application_no = #{applicationNo},</if>
            <if test="carNumber != null">car_number = #{carNumber},</if>
            <if test="driverId != -1">driver_id = #{driverId},</if>
            <if test="driverId == -1">driver_id = null,</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="idcard != null">IDCard = #{idcard},</if>
            <if test="applicationDate != null">application_date = #{applicationDate},</if>
            <if test="outDate != null">out_date = #{outDate},</if>
            <if test="enterDate != null">enter_date = #{enterDate},</if>
            <if test="createdDate != null">created_date = #{createdDate},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="createdName != null">created_name = #{createdName},</if>
            <if test="isdeleted != null">isDeleted = #{isdeleted},</if>
            <if test="enterStatus != null">enter_status = #{enterStatus},</if>
            <if test="status != null">status = #{status},</if>
            <if test="carrierId != null">carrier_id = #{carrierId},</if>
            <if test="carrierName != null">carrier_name = #{carrierName},</if>
            <if test="beforeWeight != null">before_weight = #{beforeWeight},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="reasonKey != null">reason_key = #{reasonKey},</if>
            <if test="scrap != null">scrap = #{scrap},</if>
            <if test="scrapKey != null">scrap_key = #{scrapKey},</if>
            <if test="postType != null">post_type = #{postType},</if>
            <if test="checkerId != null">checker_id = #{checkerId},</if>
            <if test="checkerName != null">checker_name = #{checkerName},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="businessType != null">businessType = #{businessType},</if>
            <if test="businessDescription != null">businessDescription = #{businessDescription},</if>
            <if test="supplyCode != null">supplyCode = #{supplyCode},</if>
            <if test="supplyName != null">supplyName = #{supplyName},</if>
            <if test="custCode != null">custCode = #{custCode},</if>
            <if test="factoryCode != null">factoryCode = #{factoryCode},</if>
            <if test="appointmentWeight != null">appointmentWeight = #{appointmentWeight},</if>
            <if test="enableControl != null">enableControl = #{enableControl},</if>
            <if test="toleranceAdd != null">toleranceAdd = #{toleranceAdd},</if>
            <if test="toleranceDec != null">toleranceDec = #{toleranceDec},</if>
            <if test="upFloatingWeight != null">upFloatingWeight = #{upFloatingWeight},</if>
            <if test="downFloatingWeight != null">downFloatingWeight = #{downFloatingWeight},</if>
            <if test="factoryType != null">factoryType = #{factoryType},</if>
            <if test="wMSPickingRouteIDs != null">wMSPickingRouteIDs = #{wMSPickingRouteIDs},</if>
            <if test="wMSPickingRouteIDs2 != null">wMSPickingRouteIDs2 = #{wMSPickingRouteIDs2},</if>
            <if test="appointmentStatus != null">appointmentStatus = #{appointmentStatus},</if>
            <if test="editFlag != null">editFlag = #{editFlag},</if>
            <if test="mark != null"> mark = #{mark},</if>
        </trim>
        where application_id = #{applicationId}
    </update>

    <update id="updateStatus" parameterType="LmCarApplication">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="enterStatus != null">enter_status = #{enterStatus},</if>
            <if test="appointmentStatus != null">appointmentStatus = #{appointmentStatus},</if>
        </trim>
        where application_id = #{applicationId}
    </update>

    <update id="updateLoseWeight" parameterType="LmCarApplication">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="loseWeight != null">loseWeight = #{loseWeight},</if>
            <if test="floatReason != null">floatReason = #{floatReason},</if>
            <if test="upFloatingWeight != null">upFloatingWeight = #{upFloatingWeight},</if>
            <if test="downFloatingWeight != null">downFloatingWeight = #{downFloatingWeight},</if>
            <if test="editFlag != null">editFlag = #{editFlag},</if>
        </trim>
        where application_id = #{applicationId}
    </update>

    <update id="updateSaleWeight" parameterType="LmCarApplication">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="appointmentWeight != null">appointmentWeight = #{editWeight},</if>
            <if test="editFlag != null">editFlag = #{editFlag},</if>
            <if test="upFloatingWeight != null">upFloatingWeight = #{upFloatingWeight},</if>
            <if test="downFloatingWeight != null">downFloatingWeight = #{downFloatingWeight},</if>
        </trim>
        where application_id = #{applicationId}
    </update>

    <update id="updateScrapWeight" parameterType="LmCarApplication">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="appointmentWeight != null">appointmentWeight = #{editWeight},</if>
            <if test="editFlag != null">editFlag = #{editFlag},</if>
            <if test="upFloatingWeight != null">upFloatingWeight = #{upFloatingWeight},</if>
            <if test="downFloatingWeight != null">downFloatingWeight = #{downFloatingWeight},</if>
        </trim>
        where application_id = #{applicationId}
    </update>

    <update id="updateShippedWithPalletWeight" parameterType="LmCarApplication">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="shippedWithPalletWeight != null">shippedWithPalletWeight = #{shippedWithPalletWeight},</if>
            <if test="upFloatingWeight != null">upFloatingWeight = #{upFloatingWeight},</if>
            <if test="downFloatingWeight != null">downFloatingWeight = #{downFloatingWeight},</if>
        </trim>
        where application_id = #{applicationId}
    </update>

    <update id="updateOneLmCarApplicationByApplicationId" parameterType="LmCarApplication">
        update lm_car_application
        set
        appointmentStatus = 1,
        cardID = null,
        taskID = null,
        firstWeight = null,
        firstWeightTime = null,
        loadoMeterID1 = null,
        userID1 = null,
        userName1 = null
        where application_id = #{applicationId}
    </update>

    <update id="updateTwoLmCarApplicationByApplicationId" parameterType="LmCarApplication">
        update lm_car_application
        set
        appointmentStatus = 3,
        cardID = null,
        taskID = null,
        loadoMeterID2 = null,
        secondWeightTime =null,
        userID2 = null,
        userName2 = null,
        secondWeight = null,
        truckWeight = null,
        netWeight = null,
        packWeight = null,
        goodsWeight = null
        where application_id = #{applicationId}
    </update>

    <update id="updateAllLmCarApplicationByApplicationId" parameterType="LmCarApplication">
        update lm_car_application
        set
        appointmentStatus = 1,
        cardID = null,
        taskID = null,
        firstWeight =null,
        firstWeightTime = null,
        loadoMeterID1 = null,
        userID1 = null,
        userName1 = null,
        loadoMeterID2 = null,
        secondWeightTime =null,
        userID2 = null,
        userName2 = null,
        secondWeight = null,
        truckWeight = null,
        netWeight = null,
        packWeight = null,
        goodsWeight = null
        where application_id = #{applicationId}
    </update>

    <delete id="deleteLmCarApplicationByApplicationId" parameterType="String">
        delete from lm_car_application where application_id = #{applicationId}
    </delete>

    <delete id="deleteLmCarApplicationByApplicationIds" parameterType="String">
        delete from lm_car_application where application_id in
        <foreach item="applicationId" collection="array" open="(" separator="," close=")">
            #{applicationId}
        </foreach>
    </delete>
    <select id="selectApplicationCount" resultType="Integer">
        select count(*) from lm_car_application where isDeleted=0
    </select>

    <select id="selectTodayApplicationCount" resultType="Integer">
        select count(*) from lm_car_application where isDeleted=0 and to_days(created_date) = to_days(now())
    </select>

    <select id="selectLmCarApplicationListByIds"  resultMap="LmCarApplicationResult">
        <include refid="selectLmCarApplicationVo"/>
        where application_id in
        <foreach collection="array" item="id" index="index" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <sql id="selectSaleVo">
        select lm_order_id,lm_actualdeliverydate,lm_car_number,lm_dnnum,lm_dnline,lm_packagingid,lm_grossweight,lm_id
        from lm_sale_item_real
    </sql>

    <select id="selectSaleList" parameterType="com.lemei.system.domain.param.CarSaleQueryParam" resultMap="SaleResult">
        <include refid="selectSaleVo"/>
<!--        <where>-->
<!--&lt;!&ndash;            <if test="lmDnnum != null "> and lm_dnnum = #{lmDnnum}</if>&ndash;&gt;-->
<!--&lt;!&ndash;            <if test="lmPackagingid != null "> and lm_packagingid = #{lmPackagingid}</if>&ndash;&gt;-->
<!--            <if test="queryCondition != null  and queryCondition != ''">-->
<!--                and (-->
<!--                lm_car_number like concat('%', #{queryCondition}, '%')-->
<!--                or lm_dnnum like concat('%', #{queryCondition}, '%')-->
<!--                or lm_packagingid like concat('%', #{queryCondition}, '%')-->
<!--                or lm_order_id like concat('%', #{queryCondition}, '%')-->
<!--                )-->
<!--            </if>-->
<!--        </where>-->
        <where>
            <!-- 动态条件：根据 queryCondition 是否为空，选择不同的过滤逻辑 -->
            <choose>
                <when test="queryCondition != null and queryCondition != ''">
                    <!-- 模糊查询：当 queryCondition 存在时，搜索多个字段 -->
                    AND MATCH (
                    lm_car_number, lm_dnnum, lm_packagingid, lm_order_id
                    ) AGAINST (
                    CONCAT('"', #{queryCondition}, '"') IN BOOLEAN MODE
                    )
                </when>
                <otherwise>
                    <!-- 日期过滤：当 queryCondition 为空时，筛选最近两天的数据 -->
                    AND lm_loadTime >= #{yesterday}
                </otherwise>
            </choose>
        </where>
        ORDER BY lm_actualdeliverydate,lm_dnnum,lm_dnline ASC
    </select>

    <select id="selectSaleInfoByLmId" parameterType="String" resultMap="SaleResult">
        <include refid="selectSaleVo"/>
        where lm_Id = #{lmId}
    </select>

    <update id="updateSaleInfo" parameterType="CarDeliveryItemReal">
        update lm_sale_item_real
        <set>
            lm_car_number = COALESCE(TRIM(#{lmCarNumber}), lm_car_number),
        </set>
        where lm_Id = #{lmId}
    </update>

    <!-- 根据 lmIds 查询对应的 lm_dnnum 和 lm_dnline -->
    <select id="selectDnNumLineByLmIds" resultType="map">
        SELECT lm_dnnum, lm_dnline
        FROM lm_sale_item_real
        WHERE lm_Id IN
        <foreach item="lmId" index="index" collection="array" open="(" separator="," close=")">
            #{lmId}
        </foreach>
    </select>

    <!-- 根据 lm_dnnum 和 lm_dnline 删除记录 -->
    <delete id="deleteByDnNumLinePairsReal">
        DELETE FROM lm_sale_item_real
        WHERE (lm_dnnum, lm_dnline) IN
        <foreach item="pair" index="index" collection="list" open="(" separator="," close=")">
            (#{pair.lm_dnnum}, #{pair.lm_dnline})
        </foreach>
    </delete>

    <!-- 根据 lm_dnnum 和 lm_dnline 删除记录 -->
    <delete id="deleteByDnNumLinePairsInsert">
        DELETE FROM lm_sale_item_insert
        WHERE (lm_dnnum, lm_dnline) IN
        <foreach item="pair" index="index" collection="list" open="(" separator="," close=")">
            (#{pair.lm_dnnum}, #{pair.lm_dnline})
        </foreach>
    </delete>

</mapper>