<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemei.mapper.CarApplicationMapper">

    <select id="getMyApplicationList" resultType="com.lemei.common.core.domain.ResultData">
        select t1.application_id applicationId, t1.driver_name driverName,
        t1.car_number carNumber, t1.driver_id driverId, t1.phone, t1.IDCard,
        date_format(t1.application_date,'%Y-%m-%d %H:%i:%s') applicationDate,
        date_format(t1.out_date,'%Y-%m-%d %H:%i:%s') outDate,
        date_format(t1.enter_date,'%Y-%m-%d %H:%i:%s') enterDate,
        date_format(t1.created_date,'%Y-%m-%d %H:%i:%s')createdDate, t1.created_by createdBy,
        t1.created_name createdName, t1.isDeleted, t1.enter_status enterStatus, t1.status,
        t1.carrier_id carrierId, t1.carrier_name  carrierName,
        t1.before_weight beforeWeight, t1.remark, t1.reason, t1.post_type postType,
        t1.checker_id checkerId, t1.checker_name checkerName,t1.application_no applicationNo,
        t1.order_id orderId,t1.businessType
        from lm_car_application t1
        where t1.isDeleted = 0
        <if test="startDate!=null">
            and application_date >= date_format(#{startDate},'%Y-%m-%d 00:00:00')
        </if>
        <if test="endDate!=null">
            and date_format(#{endDate},'%Y-%m-%d 23:59:59') >= application_date
        </if>
        <if test="queryCondition!=null and queryCondition!=''">
            and
            (
            t1.car_number like concat('%',#{queryCondition},'%')
            or t1.carrier_name like concat('%',#{queryCondition},'%')
            or t1.checker_name like concat('%',#{queryCondition},'%')
            )
        </if>

        <if test="driverId !=null">
            and (t1.created_by = #{createdBy}
            or t1.driver_id = #{driverId})
        </if>
        <if test="driverId==null">
            and t1.created_by = #{createdBy}
        </if>

        order by t1.created_date desc
    </select>

    <!-- 审核查询预约列表   默认查询创建时间为今日的数据   postType==2 代预约-->
    <select id="getApplicationList" resultType="com.lemei.common.core.domain.ResultData">
        select t1.application_id applicationId, t1.driver_name driverName,
        t1.car_number carNumber, t1.driver_id driverId, t1.phone, t1.IDCard,
        date_format(t1.application_date,'%Y-%m-%d %H:%i:%s') applicationDate,
        date_format(t1.out_date,'%Y-%m-%d %H:%i:%s') outDate,
        date_format(t1.enter_date,'%Y-%m-%d %H:%i:%s') enterDate,
        date_format(t1.created_date,'%Y-%m-%d %H:%i:%s')createdDate, t1.created_by createdBy,
        t1.created_name createdName, t1.isDeleted, t1.enter_status enterStatus, t1.status,
        t1.carrier_id carrierId, t1.carrier_name  carrierName,
        t1.before_weight beforeWeight, t1.remark, t1.reason, t1.post_type postType,
        t1.checker_id checkerId, t1.checker_name checkerName,t1.application_no applicationNo,
        t1.order_id orderId,t1.businessType
        from lm_car_application t1
        where t1.isDeleted = 0
        <if test="startDate!=null">
            and t1.created_date >= date_format(#{startDate},'%Y-%m-%d 00:00:00')
        </if>
        <if test="endDate!=null">
            and date_format(#{endDate},'%Y-%m-%d 23:59:59') >= t1.created_date
        </if>
        <if test="startDate == null and endDate == null">
            and to_days(t1.created_date) = to_days(now())
        </if>
        <if test="queryCondition!=null and queryCondition!=''">
            and
            (
            t1.car_number like concat('%',#{queryCondition},'%')
            or t1.carrier_name like concat('%',#{queryCondition},'%')
            or t1.checker_name like concat('%',#{queryCondition},'%')
            )
        </if>

        <if test="anthStatus==1">
            and t1.status = 1
        </if>
        <if test="postType!=null and postType==2">
            and t1.post_type = #{postType}
            and t1.created_by = #{createdBy}
        </if>
        <!--已审核 -->
        <if test="anthStatus==2">
            and (t1.status = 2
            or t1.status = 3)
        </if>

        <if test="checkerId!=null">
            and t1.checker_id = #{checkerId}
        </if>
        order by t1.created_date desc
    </select>
    <!-- 门卫等查询预约列表   默认查询预约当天-->
    <select id="getGuardApplicationList" resultType="com.lemei.common.core.domain.ResultData">
        select t1.application_id applicationId, t1.driver_name driverName,
        t1.car_number carNumber, t1.driver_id driverId, t1.phone, t1.IDCard,
        date_format(t1.application_date,'%Y-%m-%d %H:%i:%s') applicationDate,
        date_format(t1.out_date,'%Y-%m-%d %H:%i:%s') outDate,
        date_format(t1.enter_date,'%Y-%m-%d %H:%i:%s') enterDate,
        date_format(t1.created_date,'%Y-%m-%d %H:%i:%s')createdDate, t1.created_by createdBy,
        t1.created_name createdName, t1.isDeleted, t1.enter_status enterStatus, t1.status,
        t1.carrier_id carrierId, t1.carrier_name  carrierName,
        t1.before_weight beforeWeight, t1.remark, t1.reason, t1.post_type postType,
        t1.checker_id checkerId, t1.checker_name checkerName,t1.application_no applicationNo,
        t1.order_id orderId,t1.businessType
        from lm_car_application t1
        where t1.isDeleted = 0
        <if test="startDate!=null">
            and t1.application_date >= date_format(#{startDate},'%Y-%m-%d 00:00:00')
        </if>
        <if test="endDate!=null">
            and date_format(#{endDate},'%Y-%m-%d 23:59:59') >= t1.application_date
        </if>
        <!--筛选时间不为空，按预约时间及状态查询列表-->
        <if test="endDate!=null or startDate!=null">

            <if test="enterStatus==1">
                and ( t1.enter_status = 1 or t1.enter_status = 2)
            </if>
            <if test="enterStatus == 0 or enterStatus == 2">
                and t1.enter_status = #{enterStatus}
            </if>

        </if>
        <!-- 筛选时间为空，默认查询预约时间为今天的数据 -->
        <if test="startDate == null and endDate == null">
            <!--今日未进厂  预约时间今天且状态为未进厂-->
            <if test="enterStatus==0">
                and t1.enter_status = #{enterStatus}
                and to_days(t1.application_date) = to_days(now())
            </if>
            <!--今日已进厂    进厂时间为今天   状态可能是出厂也可能是入厂-->
            <if test="enterStatus==1">
                and ( t1.enter_status = 1 or t1.enter_status = 2)
                and to_days(t1.enter_date) = to_days(now())
            </if>
            <!--今日已出厂 出厂时间为今天且状态为已出厂-->
            <if test="enterStatus==2">
                and t1.enter_status = #{enterStatus}
                and to_days(t1.out_date) = to_days(now())
            </if>
        </if>
        <if test="queryCondition!=null and queryCondition!=''">
            and
            (
            t1.car_number like concat('%',#{queryCondition},'%')
            or t1.carrier_name like concat('%',#{queryCondition},'%')
            or t1.checker_name like concat('%',#{queryCondition},'%')
            )
        </if>
        <if test="status!=null">
            and t1.status = #{status}
        </if>

        order by t1.created_date desc
    </select>

    <!-- 门卫统计今天数据 -->
    <select id="selectGuardDataByStatus" resultType="Integer">
        select count(*)
        from lm_car_application t1
        where t1.isDeleted = 0
        <!--今日未进厂  预约时间今天且状态为未进厂-->
        <if test="enterStatus==0">
            and t1.enter_status = #{enterStatus}
            and to_days(t1.application_date) = to_days(now())
        </if>
        <!--今日已进厂    进厂时间为今天   状态可能是出厂也可能是入厂-->
        <if test="enterStatus==1">
            and ( t1.enter_status = 1 or t1.enter_status = 2)
            and to_days(t1.enter_date) = to_days(now())
        </if>
        <!--今日已出厂 出厂时间为今天且状态为已出厂-->
        <if test="enterStatus==2">
            and t1.enter_status = #{enterStatus}
            and to_days(t1.out_date) = to_days(now())
        </if>
        <if test="status!=null">
            and t1.status = #{status}
        </if>

    </select>


    <!-- 统计审核端今天数据 -->
    <select id="selectCheckDataByStatus" resultType="Integer">
        select count(*)
        from lm_car_application t1
        where t1.isDeleted = 0
        <!--未审核 -->
        <if test="anthStatus==1">
            and t1.status = 1
        </if>
        <!--已审核 -->
        <if test="anthStatus==2">
            and (t1.status = 2
            or t1.status = 3)
        </if>
        <if test="checkerId!=null">
            and t1.checker_id = #{checkerId}
        </if>

        <if test="checkerId!=null">
            and t1.checker_id = #{checkerId}
        </if>
        and to_days(t1.created_date) = to_days(now())
    </select>

    <!-- 统计本人今天数据 -->
    <select id="selectSelfDataByStatus" resultType="Integer">
        select count(*)
        from lm_car_application t1
        where t1.isDeleted = 0
        <!--未审核 -->
        <if test="anthStatus==1">
            and t1.status = 1
        </if>
        <!--已审核 -->
        <if test="anthStatus==2">
            and (t1.status = 2
            or t1.status = 3)
        </if>

        <if test="createdBy!=null">
            <if test="driverId!=null">
                and (t1.created_by = #{createdBy} or t1.driver_id=#{driverId})
            </if>
            <if test="driverId==null">
                and t1.created_by = #{createdBy}
            </if>
        </if>
        and to_days(t1.created_date) = to_days(now())
    </select>

    <insert id="insertCarApplication" parameterType="com.lemei.domain.param.ApplicationAddParam">
        insert into lm_car_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applicationId != null">application_id,</if>
            <if test="driverName != null">driver_name,</if>
            <if test="applicationNo != null">application_no,</if>
            <if test="carNumber != null">car_number,</if>
            <if test="driverId != null">driver_id,</if>
            <if test="phone != null">phone,</if>
            <if test="idcard != null">IDCard,</if>
            <if test="applicationDate != null">application_date,</if>
            <if test="outDate != null">out_date,</if>
            <if test="enterDate != null">enter_date,</if>
            <if test="createdDate != null">created_date,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="createdName != null">created_name,</if>
            <if test="enterStatus != null">enter_status,</if>
            <if test="status != null">status,</if>
            <if test="carrierId != null">carrier_id,</if>
            <if test="carrierName != null">carrier_name,</if>
            <if test="beforeWeight != null">before_weight,</if>
            <if test="remark != null">remark,</if>
            <if test="reason != null">reason,</if>
            <if test="postType != null">post_type,</if>
            <if test="checkerId != null">checker_id,</if>
            <if test="checkerName != null">checker_name,</if>
            <if test="reasonKey != null">reason_key,</if>
            <if test="scrap != null">scrap,</if>
            <if test="scrapKey != null">scrap_key,</if>
            <if test="serialNumber != null">serialNumber,</if>
            <if test="factoryType != null">factoryType,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applicationId != null">#{applicationId},</if>
            <if test="driverName != null">#{driverName},</if>
            <if test="applicationNo != null">#{applicationNo},</if>
            <if test="carNumber != null">#{carNumber},</if>
            <if test="driverId != null">#{driverId},</if>
            <if test="phone != null">#{phone},</if>
            <if test="idcard != null">#{idcard},</if>
            <if test="applicationDate != null">#{applicationDate},</if>
            <if test="outDate != null">#{outDate},</if>
            <if test="enterDate != null">#{enterDate},</if>
            <if test="createdDate != null">#{createdDate},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="createdName != null">#{createdName},</if>
            <if test="enterStatus != null">#{enterStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="carrierId != null">#{carrierId},</if>
            <if test="carrierName != null">#{carrierName},</if>
            <if test="beforeWeight != null">#{beforeWeight},</if>
            <if test="remark != null">#{remark},</if>
            <if test="reason != null">#{reason},</if>
            <if test="postType != null">#{postType},</if>
            <if test="checkerId != null">#{checkerId},</if>
            <if test="checkerName != null">#{checkerName},</if>
            <if test="reasonKey != null">#{reasonKey},</if>
            <if test="scrap != null">#{scrap},</if>
            <if test="scrapKey != null">#{scrapKey},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
            <if test="factoryType != null">#{factoryType},</if>
        </trim>
    </insert>

    <select id="selectCarApplicationById" resultType="com.lemei.common.core.domain.ResultData">
        select t1.application_id applicationId, t1.driver_name driverName,
               t1.car_number carNumber, t1.driver_id driverId, t1.phone, t1.IDCard,
               date_format(t1.application_date,'%Y-%m-%d %H:%i:%s') applicationDate,
               date_format(t1.out_date,'%Y-%m-%d %H:%i:%s') outDate,
               date_format(t1.enter_date,'%Y-%m-%d %H:%i:%s') enterDate,
               date_format(t1.created_date,'%Y-%m-%d %H:%i:%s')createdDate, t1.created_by createdBy,
               t1.created_name createdName, t1.isDeleted, t1.enter_status enterStatus, t1.status,
               t1.carrier_id carrierId, t1.carrier_name  carrierName,
               t1.before_weight beforeWeight, t1.remark, t1.reason, t1.post_type postType,
               t1.checker_id checkerId, t1.checker_name checkerName, t1.application_no applicationNo,
               t1.reason_key reasonKey, t1.order_id orderId, t1.appointmentStatus appointmentStatus, t1.scrap scrap, t1.scrap_key scrapKey
        from lm_car_application t1
        where t1.application_id = #{applicationId}
    </select>
    <update id="updateCarApplicationById" parameterType="com.lemei.domain.param.ApplicationEditParam">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="driverName != null">driver_name = #{driverName},</if>
            <if test="carNumber != null">car_number = #{carNumber},</if>
            <if test="driverId != null">driver_id = #{driverId},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="idcard != null">IDCard = #{idcard},</if>
            <if test="applicationDate != null">application_date = #{applicationDate},</if>
            <if test="outDate != null">out_date = #{outDate},</if>
            <if test="enterDate != null">enter_date = #{enterDate},</if>
            <if test="isDeleted != null">isDeleted = #{isDeleted},</if>
            <if test="enterStatus != null">enter_status = #{enterStatus},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="carrierId != null">carrier_id = #{carrierId},</if>
            <if test="carrierName != null">carrier_name = #{carrierName},</if>
            <if test="beforeWeight != null">before_weight = #{beforeWeight},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="postType != null">post_type = #{postType},</if>
            <if test="checkerId != null">checker_id = #{checkerId},</if>
            <if test="checkerName != null">checker_name = #{checkerName},</if>
            <if test="reasonKey != null">reason_key = #{reasonKey},</if>
            <if test="scrap != null">scrap = #{scrap},</if>
            <if test="scrapKey != null">scrap_key = #{scrapKey},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="businessType != null">businessType = #{businessType},</if>
            <if test="editFlag != null">editFlag = #{editFlag},</if>
            <if test="supplyCode != null">supplyCode = #{supplyCode},</if>
            <if test="supplyName != null">supplyName = #{supplyName},</if>
            <if test="enableControl != null">enableControl = #{enableControl},</if>
            <if test="appointmentWeight != null">appointmentWeight = #{appointmentWeight},</if>
            <if test="toleranceAdd != null">toleranceAdd = #{toleranceAdd},</if>
            <if test="toleranceDec != null">toleranceDec = #{toleranceDec},</if>
            <if test="upFloatingWeight != null">upFloatingWeight = #{upFloatingWeight},</if>
            <if test="downFloatingWeight != null">downFloatingWeight = #{downFloatingWeight},</if>
            <if test="businessDescription != null">businessDescription = #{businessDescription},</if>
            <if test="appointmentStatus != null">appointmentStatus = #{appointmentStatus},</if>
            <if test="custCode != null">custCode = #{custCode},</if>
        </trim>
        where application_id = #{applicationId}
    </update>
    <select id="selectDictDataByType" parameterType="SysDictData" resultType="com.lemei.common.core.domain.ResultData">
        select dict_value dictValue,dict_type dictType,dict_label dictLabel,is_default isDefault
        from lm_dict_data
        where status = '0' and dict_type = #{dictType} order by dict_sort asc
    </select>

    <select id="selectLmSupplierList" resultType="LmSupplierApp">
        select * from lm_supplier
    </select>

    <select id="selectApplicationDateByCarNumber" parameterType="com.lemei.domain.param.ApplicationQueryParam" resultType="java.sql.Date">
        select application_date from lm_car_application where car_number=#{carNumber} and appointmentStatus=#{appointmentStatus}
    </select>

    <select id="selectAppointmentStatus" parameterType="com.lemei.domain.param.ApplicationQueryParam" resultType="java.lang.Integer">
        select appointmentStatus from lm_car_application where car_number=#{carNumber} and application_date=#{applicationDate} and serialNumber=#{serialNumber}
    </select>

    <select id="selectStatus" parameterType="com.lemei.domain.param.ApplicationQueryParam" resultType="java.lang.Integer">
        select status from lm_car_application where car_number=#{carNumber} and application_date=#{applicationDate} and serialNumber=#{serialNumber}
    </select>

    <select id="selectEnterStatus" parameterType="com.lemei.domain.param.ApplicationQueryParam" resultType="java.lang.Integer">
        select enter_status from lm_car_application where car_number=#{carNumber} and application_date=#{applicationDate} and serialNumber=#{serialNumber}
    </select>

    <select id="selectStatusResult" parameterType="com.lemei.domain.param.ApplicationQueryParam" resultType="com.lemei.common.core.domain.ResultData">
        select appointmentStatus,status,enter_status,appointmentWeight,before_weight from lm_car_application where serialNumber=#{serialNumber}
    </select>

    <select id="selectBusinessType" parameterType="com.lemei.domain.param.ApplicationQueryParam" resultType="java.lang.Integer">
        select businessType from lm_car_application where car_number=#{carNumber} and application_date=#{applicationDate} and enter_status=1
    </select>

    <select id="selectUDGE" parameterType="com.lemei.domain.param.ApplicationQueryParam" resultType="com.lemei.common.core.domain.ResultData">
        select upFloatingWeight,downFloatingWeight,goodsWeight,enableControl,toleranceAdd,toleranceDec
        from lm_car_application
        where car_number = #{carNumber} and status = 2 and enter_status = 1 and appointmentStatus = 4
    </select>

    <update id="updateCardInfo" parameterType="com.lemei.domain.param.ApplicationEditParam">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardId != null">cardID = #{cardId},</if>
            <if test="cardType != null">cardType = #{cardType},</if>
            <if test="carNumber != null">car_number = #{carNumber},</if>
            <if test="truckNo2 != null">truckNo2 = #{truckNo2},</if>
            <if test="isUpdate != null">isUpdate = #{isUpdate},</if>
            <if test="truckType != null">truckType = #{truckType},</if>
            <if test="createCardTime != null">createCardTime = #{createCardTime},</if>
            <if test="appointmentStatus != null">appointmentStatus = #{appointmentStatus},</if>
        </trim>
        where car_number = #{carNumber} and status = 2 and enter_status=1 and appointmentStatus=0 and serialNumber=#{serialNumber}
    </update>

    <update id="updateOneWeightingInfo" parameterType="com.lemei.domain.param.ApplicationEditParam">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="appointmentStatus != null">appointmentStatus = #{appointmentStatus},</if>
        </trim>
        where car_number = #{carNumber} and status = 2 and enter_status=1 and appointmentStatus=1
    </update>

    <select id="selectOneWeightingInfo" parameterType="com.lemei.domain.param.ApplicationQueryParam" resultType="com.lemei.common.core.domain.ResultData">
        select businessType,driver_name,order_id,supplyCode,supplyName,carrier_id from lm_car_application where car_number=#{carNumber} and status = 2 and enter_status=1 and appointmentStatus=1
    </select>

    <update id="updateOneWeightWriteInfo" parameterType="com.lemei.domain.param.ApplicationEditParam">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardId != null">cardID = #{cardId},</if>
            <if test="carNumber != null">car_number = #{carNumber},</if>
            <if test="truckNo2 != null">truckNo2 = #{truckNo2},</if>
            <if test="taskId != null">taskID = #{taskId},</if>
            <if test="firstWeight != null">firstWeight = #{firstWeight},</if>
            <if test="firstWeightTime != null">firstWeightTime = #{firstWeightTime},</if>
            <if test="loadoMeterID1 != null">loadoMeterID1 = #{loadoMeterID1},</if>
            <if test="atmsId != null">atmsId = #{atmsId},</if>
            <if test="userID1 != null">userID1 = #{userID1},</if>
            <if test="userName1 != null">userName1 = #{userName1},</if>
            <if test="appointmentStatus != null">appointmentStatus = #{appointmentStatus},</if>
        </trim>
        where car_number = #{carNumber} and status = 2 and enter_status=1 and appointmentStatus=2
    </update>

    <update id="updateTwoWeightingInfo" parameterType="com.lemei.domain.param.ApplicationEditParam">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="appointmentStatus != null">appointmentStatus = #{appointmentStatus},</if>
        </trim>
        where car_number = #{carNumber} and status = 2 and enter_status=1 and appointmentStatus=3
    </update>

    <select id="selectTwoWeightingInfo" parameterType="com.lemei.domain.param.ApplicationQueryParam" resultType="com.lemei.common.core.domain.ResultData">
        select businessType,driver_name,order_id,supplyCode,supplyName,carrier_id,appointmentWeight from lm_car_application where car_number=#{carNumber} and status = 2 and enter_status=1 and appointmentStatus=3
    </select>

    <update id="updateTwoWeightWriteInfo" parameterType="com.lemei.domain.param.ApplicationEditParam">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardId != null">cardID = #{cardId},</if>
            <if test="carNumber != null">car_number = #{carNumber},</if>
            <if test="truckNo2 != null">truckNo2 = #{truckNo2},</if>
            <if test="loadoMeterID2 != null">loadoMeterID2 = #{loadoMeterID2},</if>
            <if test="userID2 != null">userID2 = #{userID2},</if>
            <if test="userName2 != null">userName2 = #{userName2},</if>
            <if test="taskId != null">taskID = #{taskId},</if>
            <if test="atmsId != null">atmsId = #{atmsId},</if>
            <if test="secondWeight != null">secondWeight = #{secondWeight},</if>
            <if test="truckWeight != null">truckWeight = #{truckWeight},</if>
            <if test="netWeight != null">netWeight = #{netWeight},</if>
            <if test="packWeight != null">packWeight = #{packWeight},</if>
            <if test="goodsWeight != null">goodsWeight = #{goodsWeight},</if>
            <if test="secondWeightTime != null">secondWeightTime = #{secondWeightTime},</if>
            <if test="appointmentStatus != null">appointmentStatus = #{appointmentStatus},</if>
            <if test="appointmentWeight != null">appointmentWeight = #{appointmentWeight},</if>
            <if test="upFloatingWeight != null">upFloatingWeight = #{upFloatingWeight},</if>
            <if test="downFloatingWeight != null">downFloatingWeight = #{downFloatingWeight},</if>
        </trim>
        where car_number = #{carNumber} and status = 2 and enter_status=1 and appointmentStatus=4
    </update>

    <update id="updateAppointmentStatus" parameterType="com.lemei.domain.param.ApplicationEditParam">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="appointmentStatus != null">appointmentStatus = #{appointmentStatus},</if>
        </trim>
        where car_number = #{carNumber} and status = 2 and enter_status=1 and appointmentStatus=4
    </update>

    <update id="updateRefundCardInfo" parameterType="com.lemei.domain.param.ApplicationEditParam">
        update lm_car_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="cardId != null">cardID = #{cardId},</if>
            <if test="cardType != null">cardType = #{cardType},</if>
            <if test="carNumber != null">car_number = #{carNumber},</if>
            <if test="truckNo2 != null">truckNo2 = #{truckNo2},</if>
            <if test="returnCardTime != null">returnCardTime = #{returnCardTime},</if>
            <if test="appointmentStatus != null">appointmentStatus = #{appointmentStatus},</if>
        </trim>
        where car_number = #{carNumber} and status = 2 and enter_status=1 and appointmentStatus=5
    </update>

    <update id="updateLmSalesOrderItemByLmDnNumAndLmDnLine" parameterType="LmDeliveryItemField">
        update lm_sale_item_insert
        <trim prefix="SET" suffixOverrides=",">
            <if test="lmActualdeliverydate != null">lm_actualdeliverydate = #{lmActualdeliverydate},</if>
            <if test="lmLoadTime != null">lm_loadTime = #{lmLoadTime},</if>
            <if test="lmDnlineref != null">lm_dnlineref = #{lmDnlineref},</if>
            <if test="lmBatch != null">lm_batch = #{lmBatch},</if>
            <if test="lmGrossweight != null">lm_grossweight = #{lmGrossweight},</if>
            <if test="lmWeightunit != null">lm_weightunit = #{lmWeightunit},</if>
            <if test="lmPackagingid != null">lm_packagingid = #{lmPackagingid},</if>
            <if test="lmCarNumber != null">lm_car_number = #{lmCarNumber},</if>
            <if test="lmUpdateTime != null">lm_update_time = #{lmUpdateTime},</if>
        </trim>
        where lm_dnnum = #{lmDnnum} And lm_dnline = #{lmDnline}
    </update>

    <insert id="insertLmDeliveryItemFieldThird" parameterType="LmDeliveryItemField" useGeneratedKeys="true" keyProperty="lmRecid">
        insert into lm_sale_item_insert
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lmDnnum != null">lm_dnnum,</if>
            <if test="lmActualdeliverydate != null">lm_actualdeliverydate,</if>
            <if test="lmLoadTime != null">lm_loadTime,</if>
            <if test="lmDnline != null">lm_dnline,</if>
            <if test="lmDnlineref != null">lm_dnlineref,</if>
            <if test="lmBatch != null">lm_batch,</if>
            <if test="lmGrossweight != null">lm_grossweight,</if>
            <if test="lmWeightunit != null">lm_weightunit,</if>
            <if test="lmPackagingid != null">lm_packagingid,</if>
            <if test="lmCarNumber != null">lm_car_number,</if>
            <if test="lmInsertTime != null">lm_insert_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lmDnnum != null">#{lmDnnum},</if>
            <if test="lmActualdeliverydate != null">#{lmActualdeliverydate},</if>
            <if test="lmLoadTime != null">#{lmLoadTime},</if>
            <if test="lmDnline != null">#{lmDnline},</if>
            <if test="lmDnlineref != null">#{lmDnlineref},</if>
            <if test="lmBatch != null">#{lmBatch},</if>
            <if test="lmGrossweight != null">#{lmGrossweight},</if>
            <if test="lmWeightunit != null">#{lmWeightunit},</if>
            <if test="lmPackagingid != null">#{lmPackagingid},</if>
            <if test="lmCarNumber != null">#{lmCarNumber},</if>
            <if test="lmInsertTime != null">#{lmInsertTime},</if>
        </trim>
    </insert>

    <sql id="selectSaleVo">
        select *
        from lm_sale_item_real
    </sql>

    <select id="getTolerance" resultType="com.lemei.domain.param.ApplicationEditParam"> select soToleranceAdd as toleranceAdd,soToleranceDec as toleranceDec from lm_global_variable </select>

    <update id="updateSupplierByID" parameterType="com.lemei.domain.param.ApplicationSupplier">
        update lm_supplier_local
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="zName != null">name = #{zName},</if>
            <if test="updateTime != null">updateTime = #{updateTime},</if>
        </trim>
        where ID = #{ID}
    </update>

    <insert id="insertSupplier" parameterType="com.lemei.domain.param.ApplicationSupplier">
        insert into lm_supplier_local
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="code != null">code,</if>
            <if test="zName != null">name,</if>
            <if test="insertTime != null">insertTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="code != null">#{code},</if>
            <if test="zName != null">#{zName},</if>
            <if test="insertTime != null">#{insertTime},</if>
        </trim>
    </insert>

    <update id="updateScrapAdvanceByNameAndDate" parameterType="com.lemei.domain.param.ApplicationScrapAdvance">
        update lm_scrap_advance
        <trim prefix="SET" suffixOverrides=",">
            <if test="modifyTime != null">oa_modify_time = #{modifyTime},</if>
        </trim>
        where oa_name = #{zName} and oa_date_time = #{dateTime}
    </update>

    <insert id="insertScrapAdvance" parameterType="com.lemei.domain.param.ApplicationScrapAdvance">
        insert into lm_scrap_advance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="zName != null">oa_name,</if>
            <if test="dateTime != null">oa_date_time,</if>
            <if test="modifyTime != null">oa_modify_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="zName != null">#{zName},</if>
            <if test="dateTime != null">#{dateTime},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
        </trim>
    </insert>

</mapper>

