// 处理ios手机底部安全距离
.iossavebox {
  width: 100%;
  height: env(safe-area-inset-bottom);
}
.iosbottom {
  bottom: env(safe-area-inset-bottom);
}

@for $i from 0 through 100 {
    .margin_bottom#{$i} {
      margin-bottom: $i + rpx;
    }
    .margin_right#{$i} {
      margin-right: $i + rpx;
    }
    .margin_left#{$i} {
      margin-left: $i + rpx;
    }
    .margin_top#{$i} {
      margin-top: $i + rpx;
    }
}

.flex {
    display: flex;
    align-items: center;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex_only {
    display: flex;
}

.flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

.leftauto {
    margin-left: auto;
}

.rightauto {
    margin-right: auto;
}

.textmore {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}