<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemei.mapper.UserMapper">

    <resultMap type="SysUser" id="UserResult">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="email"        column="email"        />
        <result property="phoneNumber"  column="phoneNumber"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="password"     column="password"     />
        <result property="status"       column="status"       />
        <result property="delFlag"      column="del_flag"     />
        <result property="loginIp"      column="login_ip"     />
        <result property="loginDate"    column="login_date"   />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
        <result property="smsState" column="sms_state"/>
        <result property="personalProfile"       column="personalProfile"       />
        <result property="qqNumber"       column="qqNumber"       />
        <result property="wechat"       column="wechat"       />
        <result property="openid" column="openid"/>
        <result property="userType" column="user_type"/>
        <result property="idcard" column="idcard"/>
        <result property="isBlacklist"   column="is_blacklist"  />
        <result property="parentId"   column="parent_id"  />
    </resultMap>
    <select id="getUserByPhone" resultMap="UserResult">
        select user_id,dept_id,user_name,nick_name,email,phoneNumber,sex,avatar,`password`,
            `status`,user_type,del_flag,is_blacklist
        from lm_user
        where del_flag = '0'
        and phoneNumber = #{phoneNumber}
        limit 1
    </select>

    <select id="getUserByUserName" resultMap="UserResult">
        select user_id,dept_id,user_name,nick_name,email,phoneNumber,sex,avatar,`password`,
            `status`,user_type,del_flag,is_blacklist
        from lm_user
        where del_flag = '0'
        and user_name = #{userName}
        limit 1
    </select>


    <select id="getDetailByIdcard" resultMap="UserResult">
        select user_id,dept_id,user_name,nick_name,email,phoneNumber,sex,avatar,`password`,
               `status`,user_type,del_flag,is_blacklist
        from lm_user
        where del_flag = '0'
          and idcard = #{idcard}
        limit 1
    </select>

    <select id="getUserInfoById" resultMap="UserResult">
        select user_id,dept_id,user_name,nick_name,email,phoneNumber,sex,avatar,`password`,
               `status`,user_type,del_flag,is_blacklist,weComId
        from lm_user
        where del_flag = '0'
        and user_id = #{userId}
    </select>

    <select id="selectUserByQueryParam" resultMap="UserResult">
        select u.user_id,u.dept_id,u.user_name,u.nick_name,u.email,u.phoneNumber,u.sex,u.avatar,u.`password`,
        u.`status`,u.user_type,u.del_flag,u.idcard,u.personalProfile,u.place,u.is_blacklist,u.parent_id
        from lm_user u
        left join lm_user_role ur on u.user_id = ur.user_id
        left join lm_role r on r.role_id = ur.role_id
        where u.del_flag = '0'
          <if test="userId!=null">
              and u.user_id = #{userId}
          </if>
          <if test="userType!=null and userType!=''">
             and u.user_type = #{userType}
          </if>
            <if test="roleId!=null">
             and r.role_id = #{roleId}
          </if>
            limit 1
    </select>

    <update id="updateUser" parameterType="SysUser">
        update lm_user
        <set>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="email != null ">email = #{email},</if>
            <if test="phoneNumber != null ">phoneNumber = #{phoneNumber},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="password != null and password != ''">`password` = #{password},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="place != null">place = #{place},</if>
            <if test="personalProfile!=null and personalProfile!=''"> personalProfile=#{personalProfile},</if>
            <if test="idcard!=null and idcard!=''"> idcard=#{idcard},</if>
            update_time = sysdate()
        </set>
        where user_id = #{userId}
    </update>

    <select id="selectUserRoleList" resultType="Long">
        select r.role_id
        from lm_user u
                 left join lm_user_role ur on u.user_id = ur.user_id
                 left join lm_role r on r.role_id = ur.role_id
        where u.del_flag = '0'
          and u.user_id = #{userId}
    </select>

    <select id="getUserListByUserType" resultType="com.lemei.common.core.domain.ResultData">
        select u.user_id userId,u.user_name userName,u.nick_name nikName,u.idcard,u.phoneNumber
        from lm_user u
                 left join lm_user_role ur on u.user_id = ur.user_id
                 left join lm_role r on r.role_id = ur.role_id
        where u.del_flag = '0'
            and u.is_blacklist = 0
          <if test="userType!=null and userType!=''">
              and u.user_type = #{userType}
          </if>
          <if test="parentId!=null">
              and u.parent_id = #{parentId}
          </if>
          <if test="roleId!=null">
              and r.role_id = #{roleId}
          </if>
    </select>

<!--    <select id="getUserListByUserType" resultType="com.lemei.common.core.domain.ResultData">-->
<!--        select u.user_id userId,u.user_name userName,u.nick_name nikName,u.idcard,u.phoneNumber-->
<!--        from lm_user u-->
<!--        left join lm_user_role ur on u.user_id = ur.user_id-->
<!--        left join lm_role r on r.role_id = ur.role_id-->
<!--        where u.del_flag = '0'-->
<!--        and u.is_blacklist = 0-->
<!--        <if test="userType!=null and userType!=''">-->
<!--            and u.user_type = #{userType}-->
<!--        </if>-->
<!--        <if test="parentId!=null">-->
<!--            and u.parent_id = #{parentId}-->
<!--        </if>-->
<!--        <if test="roleId!=null">-->
<!--            and r.role_id = #{roleId}-->
<!--        </if>-->
<!--        <if test="userId!=null">-->
<!--            and u.user_id != #{userId}-->
<!--        </if>-->
<!--    </select>-->

</mapper>
